html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 5px 5px blue;
}
h2 {
  text-transform: uppercase;
}

ul li::marker {
  text-decoration: none;
}

body {
  color: white;
  margin:20px;
  background-color:#191414;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;

}
.add-contact {
  background:#3e3effde;
  width: 35%;
  border-radius: 30px;
  margin-top:50px;
  padding: 27px;
  height: fit-content;
  border: 5px solid;
}
input[type="submit"], 
button {
  margin-left:5px;
  padding: 8px;
  border: none;
  font-size: 14px;
}

button {
  margin-left: 10px;
  border-radius: 5px;
}

span {
  background-color:#1DB954;
  border-radius: 5px;
  padding: 5px 22px;
}

p {
  border: 1px solid white;
  color:white;
  padding: 13px 14px 16px 0px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  width:81%;
}

#error{
  padding: 0;
  color:#ff3410;
  border: none;
  text-transform: uppercase;
 
}
.add-contact > ul > li > p {
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 10px 11px;
}

.text-info {
  font-size: 20px;
  text-transform: uppercase;
  border:none;
  font-weight: bold;
}
#name,#number, input  {
  padding: 8px;
  border: none;
  font-size: 14px;
  margin-left: 5px;
}

.fa-trash {
  font-size: 20px;
  margin-left:10px;
  color:#f8e807f2;
}
#name,#number {
width: 36%;
}
.search {
  background: turquoise;
  width: 35%;
  border-radius: 30px;
  padding: 27px;
  margin-top: 50px;
  height: fit-content;
  border: 5px solid;
}
.color-search {
  color:#3e3effde;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.text-info-p {
  border:none;
  font-size: 20px;
  color:white;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
.search > ul > li > p {
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 10px 11px;
}
span {
margin-right: 13px;
}
.add-contact > ul > li > p > span:nth-child(2) {
margin-left: 5px;
}
@media (max-width: 940px){
.flex{
display: flex;
flex-direction: column;
}
span {
width: 30%;
margin-bottom: 10px;
}
.add-contact,.search {
width: 69%;
margin: 0 auto;
}
.add-contact {
  margin-bottom: 30px;
}
}

@media (max-width:500px) {
  h1 {
font-size: 3rem;
}
#name, #number,input {
width: 100%;
margin: 3px auto;
}
input[type="submit"] {
  margin-left: 56%;
  width: 50%;
}
.add-contact > ul > li > p > span:nth-child(2) {
margin-left: 0px;
}
img {
  width: 100%;
}
}
@media (max-width:400px) {
  h1 {
font-size: 2rem;
}
h2,.text-info,.text-info-p {
font-size: 15px;
}
input[type="submit"] {
margin-left: 67%;
}
#name, #number, input,
input[type="submit"], button,
.add-contact > ul:nth-child(2) > li:nth-child(1) > p:nth-child(1) {
font-size: 12px;
}
input[type="submit"] {
width: 40%;
}
}